.ButtonList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  height: 200px;
}

.ButtonList button {
  padding: 1rem;
  font-size: 2rem;
  color: #423f43;
  border-radius: 10%;
  margin: 1rem;
  cursor: pointer;
}
